<div class="pusher">
  <div class="ui inverted vertical masthead segment v90vh">
    <div id="map"></div>
  </div>

  <div class="ui vertical stripe quote segment v10vh">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <button type="button" class="column">
          <h3>"What a Company"</h3>
          <p></p>
        </button>
        <button type="button" class="column">
          <h3>Panic Button</h3>
          <p>Press to find locations of your group members.</p>
        </button>
      </div>
    </div>
  </div>
</div>
