<div class="create">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui header">
        <div class="content">Create a Clique</div>
      </h2>
      <form class="ui large form">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="users icon"></i>
              <input type="text" name="clique" placeholder="Clique Name">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="name" placeholder="Your Name">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="phone icon"></i>
              <input type="text" name="phone" placeholder="Your phone number">
            </div>
          </div>
          <button class="ui fluid large teal submit button">Continue</button>
        </div>
        <div class="ui error message"></div>
      </form>
    </div>
  </div>
</div>
