<h2 class="ui center aligned header">
  <div class="content">Welcome to Cliqu.es</div>
</h2>
<div class="ui middle aligned center aligned grid">
  <form class="ui large form">
    <div class="ui segment">
      <div class="field">
        <a href="/#/cliques/1/" class="ui fluid large teal submit button">Join Existing Clique</a>
      </div>
    </div>
    <div class="ui segment">
      <div class="field">
        <a href="/#/cliques/create" class="ui fluid large green submit button">Create New Clique</a>
      </div>
    </div>
  </form>
</div>
