@import 'semantic.min.css';
@import 'esri.min.css';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #DADADA;
}

.v90vh {
  margin: 0;
  height: 90vh;
}

.v10vh {
  margin: 0;
  height: 10vh;
}

#map {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
